# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# MacOS
.DS_Store

# Streamlit
.streamlit/
